<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>
            {% block title%} 

            {% endblock %}
        </title>
        
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"> 
        
        {% block styles %} 
        {% endblock %}

    </head>
    <body>
      <div class="header">
        <img src="/img/menu.svg" alt="MENU" id="menu-button" width="45px" ondragstart="return false" onclick="wrap();"/>
      </div>
      <div class="global">
        <div class="menu" id="menu" style="left: -1000px; transition: left 250ms ease 0s;">
          <!-- LOCAL DE NAVEGAÇÃO DO SITE -->
          <div class="start-block">
            <p class="navigation">
              <a class="navigation-item-princ" href="/">Painel Administrativo</a>
            </p>
          </div>  
          <div class="index-block">
            <p class="navigation">
              <a class="navigation-item" href="/">Página Inicial</a>
            </p>
          </div>
          <div class="index-block">
            <p class="navigation">
              <a class="navigation-item" href="/admin/clients">Clientes</a>
            </p>
          </div>
          <div class="index-block">
            <p class="navigation">
              <a class="navigation-item" href="/admin/orders/add">Cadastrar Pedidos</a>
            </p>
          </div>
          <div class="index-block">
            <p class="navigation">
              <a class="navigation-item" href="/admin/orders">Pedidos Cadastrados</a>
            </p>
          </div>
        </div>

        <div class="content" id="content" style="margin-left: 0; transition: margin-left 300ms ease 0s" >
            <!-- Conteúdo do Index -->
            {% block content %} 
            
            {% endblock %}
        </div>
      </div>
            
        <!-- RODAPÉ -->
        <footer class="footer" id="footer" style="margin-left: 0; transition: margin-left 300ms ease 0s">
          <div class="text-center text-muted">
            <p class="small">Lazzarotto - Comércio de Peças e a Assistência Técnica <i class="fas fa-copyright"></i> Todos direitos reservados | LTMAQ LAZZAROTTO - CIÊNCIA DA COMPUTAÇÃO - URI</p>
          </div>
        </footer>
        
        <!-- scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/base.js" charset="utf-8"></script>

        {% if messages.error %}
          <script>
          toastr["error"]("{{messages.error}}");
          </script>
        {% endif %}

        {% if messages.success %}
          <script>
          toastr["success"]("{{messages.success}}");
          </script>
        {% endif %}
        
        {% block script %} 
        {% endblock %}

    </body>

</html>
