.div-title-registered-machines {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.add-machines {
    text-align: center;
}

#title-page-registered-machines {
    font-size: 25px;
    color: rgb(0, 98, 190);
    font-family: Arial, Helvetica, sans-serif;
}

.table-button {
    width: 80px;
}

.button-right {
    width: 20%;
    background-color: #085b96;
    color: white;
    border: solid 2px #00308a;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    float: right;
}