{% extends './layouts/base.html' %}

{% block styles %}
  <link rel="stylesheet" href="/styles/index.css">
{% endblock %}

{% block title %}
  Pagina inicial
{% endblock %}

{% block content %}
<div class="index-content">
  <div class="title-index">
    <span class="title">LTMAQ LAZZAROTTO</span>
  </div>
  <br>
  <hr>
  <br>
  <div class="content-index">
    <span class="content-span">Bem vindo administrador!</span>
    <span class="content-span">Teha aqui um melhor controle de sua empresa!</span>
  </div>
</div>

 
{% endblock %}

{% block script %}
  <script src="/js/index.js" charset="utf-8"></script>
{% endblock %}

