<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    {% if messages.error %}
    {% endif %}

    <main class="container">
        <h2>Log in to your acount</h2>
        <form action="/admin/login" method="POST">
            <div>
                <label for="Email">
                <span>Email adress</span>
                
                <input type="email" id="email" name="email"
                placeholder="   Email adress">
                
            </label>

                <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password"
                placeholder="   Password">
                
            </label>
            </div>
            <style>
                input[type=submit] {
                    margin-top: 2rem;
                    padding: 0.4rem;
                    background-color: #157fd1;
                    cursor: pointer;
                    color: white;
                    font-size: 0.9rem;
                    font-weight: 300;
                    border-radius: 4px;
                    transition: all 0.3s ease;
                }
            </style>
            <input type="submit" value="Log in">


            <div>
                <label for="sign up"></label>
                <span>New to the app?</span>
                <input type="button" value="Sign up">
                </label>
            </div>
        </form>
    </main>
</body>

</html>