<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    
</head>

<body>
    
    <img src="/img/logo.png"  width="328px">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    {% if messages.error %}
        <script>
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: '{{messages.error}}',
            showConfirmButton: false,
            timer: 3000
        });
        </script>
    {% endif %}

    <main class="container">
        
        <h2>Log in to your acount</h2>
        <form action="/admin/login" method="POST">
            <div>
                <label for="Email">
                <span>Email </span>
                
                <input type="email" id="email" name="email"
                placeholder="   Email " margin-bottom = "25px" >
                
            </label>

                <label for="password">
                <span>Senha</span>
                <input type="password" id="password" name="password"
                placeholder="   Senha">
                
            </label>
            </div>
            <style>
                input[type=submit] {
                    margin-top: 2rem;
                    padding: 0.4rem;
                    background-color: #157fd1;
                    cursor: pointer;
                    color: white;
                    font-size: 0.9rem;
                    font-weight: 300;
                    border-radius: 4px;
                    transition: all 0.3s ease;
                }
            </style>
            <input type="submit" value="Log in">


            <div>
              
                </label>
            </div>
        </form>
    </main>
</body>

</html>