{% extends './layouts/base.html' %}

{% block title %}
  Cadastrar Pedidos
{% endblock %}

{% block content %}
<h1 class="display-4 text-center" id="teste">Cadastrar Pedidos</h1>

<div class="teste">
  <div class="form-orders">
    <div class="div-order">
      <div class="div-label">
        <label for="order-number" class="">Número do pedido: </label>
      </div>
      <input class="input-order" type="number" name="order-number" id="order-number" class="" required onclick="removeInputError()">
    </div>
    
    <div class="div-order">
      <div class="div-label">
        <label for="order-hour" class="">Hora do pedido: </label>
      </div>
      <input class="input-order" type="text" name="order-hour" id="order-hour" class="" required onclick="removeInputError()">
    </div>
    
    <div class="div-order">
      <div class="div-label">
        <label for="client-name" class="">Nome do cliente: </label>
      </div>
      <input class="input-order" type="text" name="client-name" id="client-name" class="" required onclick="removeInputError()">
    </div>
    
    <div class="div-order">
      <div class="div-label">
        <label for="service-type" class="">Tipo do serviço: </label>
      </div>
      <input class="input-order" type="text" name="service-type" id="service-type" class="" required onclick="removeInputError()">
    </div>
    
    <div class="div-order">
      <div class="div-label">
        <label for="machine-type" class="">Tipo da máquina: </label>
      </div>
      <input class="input-order" type="text" name="machine-type" id="machine-type" class="" required onclick="removeInputError()">
    </div>
    
    <div class="div-order">
      <div class="div-label">
        <label for="order-description" class="">Descrição do serviço: </label>
      </div>
      <textarea name="order-description" id="order-description" cols="30" rows="3" required onclick="removeInputError()"></textarea>
      <!-- <input class="input-order" type="text" name="order-description" id="order-description" class="" required> -->
    </div>
    
    <hr>
  
    <div class="div-btn-send">
      <button class="btn-send" id="button-send" onclick="sendData()">Cadastrar</button>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
  <script src="/js/orders.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/orders.css">
{% endblock %}
