{% extends '../layouts/base.html' %}

{% block title %}
    Detalhes do Cliente
{% endblock %}

{% block content %}

<div class="title-box-view">
    <span class="span-view-order">Detalhes do Cliente #{{client.id}}</span>
</div>

<div class="body-view">
    <div class="content-info-clients">
        <div class="card-info-client">
            <span class="span-content-client">ID: </span>
            <span class="dynamic-contents">{{client.id}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Nome do Cliente: </span>
            <span class="dynamic-contents">{{client.username}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Email: </span>
            <span class="dynamic-contents">{{client.email}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Celular: </span>
            <span class="dynamic-contents">{{client.cellphone}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Telefone: </span>
            <span class="dynamic-contents">{{client.phone}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">CEP: </span>
            <span class="dynamic-contents">{{client.cep}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Estado: </span>
            <span class="dynamic-contents">{{client.state}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Cidade: </span>
            <span class="dynamic-contents">{{client.city}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Bairro: </span>
            <span class="dynamic-contents">{{client.district}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Endereço: </span>
            <span class="dynamic-contents">{{client.address}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Número: </span>
            <span class="dynamic-contents">{{client.number_address}}</span>
        </div>
        <div class="card-info-client">
            <span class="span-content-client">Complemento: </span>
            <span class="dynamic-contents">{{client.complement}}</span>
        </div>
    </div>

    <div class="print-button">
        <input class="btn-print" type="button" value="Imprimir página" onClick="window.print()"/>
    </div>
</div>

{% endblock %}

{% block script %}
  <script src="/js/orders/view.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/clients/view.css">
{% endblock %}
