{% extends '../layouts/base.html' %}

{% block title %}
    Pedidos Cadastrados
{% endblock %}

{% block content %}

<div class="div-title-registered-orders">
  <h1 class="text-center" id="title-page-registered-orders">Pedidos Cadastrados</h1>
  <span class="add-orders"><a href="/admin/orders/add">Cadastar pedidos</a></span>
</div>

<div class="principal-content">

    <form method="GET" action="/admin/orders">
      <div class="search-box">
        <h2>Filtrar Pedidos</h2>

        <div class="search-inputs">

          <input class="search-input-text left" name="id" id="id" placeholder="Id" >

          <select class="search-input-text" name="clientname" id="client-name">
            <option value="0" selected disabled hidden>Nome do Cliente</option>
            {% for client in clients %}
              <option value="{{client.id}}">{{client.username}}</option>
            {% endfor %}
          </select>

          <input class="search-input-text left" name="service" id="service" placeholder="Serviço" >

          <select class="search-input-text" name="machinename" id="machine-name">
            <option value="0" selected disabled hidden>Nome da Máquina</option>
            {% for machine in machines %}
              <option value="{{machine.id}}">{{machine.machine_name}}</option>
            {% endfor %}
          </select>

          <label class="left" for="start">Hora do Pedido (Início):</label>
          <label for="end">Hora do Pedido (Fim):</label>

          <input class="search-input-text left" type="date" min="2010-01-01" max="2099-12-31" name="start" id="start">
          <input class="search-input-text" type="date" min="2010-01-01" max="2099-12-31" name="end" id="end">

          <button type="submit" class="button-right">Buscar</button>
        </div>
      </div>
    </form>

    <table class="table table-striped table-hover">
      <thead>
        <tr class="table-header">
          <th class="text-center col-1" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}&column=id{%if count > 0%}{%for var, query in queries %}{%if var != 'order' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">ID {%if order == 'ASC' and queries.column == 'id'%}↓{%elif order == 'DESC' and queries.column == 'id'%}↑{%endif%}</a>
          </th>
          <th class="text-left col-3" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}&column=client.username{%if count > 0%}{%for var, query in queries %}{%if var != 'order' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">Nome do Cliente {%if order == 'ASC' and queries.column == 'client.username'%}↓{%elif order == 'DESC' and queries.column == 'client.username'%}↑{%endif%}</a>
          </th>
          <th class="text-left col-2" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}&column=service_type{%if count > 0%}{%for var, query in queries %}{%if var != 'order' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">Serviço {%if order == 'ASC' and queries.column == 'service_type'%}↓{%elif order == 'DESC' and queries.column == 'service_type'%}↑{%endif%}</a>
          </th>
          <th class="text-left col-2" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}&column=machine.machine_name{%if count > 0%}{%for var, query in queries %}{%if var != 'order' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">Máquina {%if order == 'ASC' and queries.column == 'machine.machine_name'%}↓{%elif order == 'DESC' and queries.column == 'machine.machine_name'%}↑{%endif%}</a>
          </th>
          <th class="text-center col-2" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}&column=createdAt{%if count > 0%}{%for var, query in queries %}{%if var != 'order' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">Hora do Pedido {%if order == 'ASC' and queries.column == 'createdAt'%}↓{%elif order == 'DESC' and queries.column == 'createdAt'%}↑{%endif%}</a>
          </th>
          <th class="text-center col-2" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td class="text-center" style="font-weight: bold;" scope="row">{{order.id}}</td>
          <!-- <td class="text-center">{{order.clientId}}</td> -->
          <!-- <td class="text-center"></td> -->
          <td class="text-left">{{order.client.username}}</td>
          <td class="text-left">{{order.service_type}}</td>
          <td class="text-left">{{order.machine.machine_name}}</td>
          <td id="orderDate" class="orderDate text-center">{{order.createdAt}}</td>
          <!-- <td class="text-center"></td> -->
          <td class="text-center">
            <a href="/admin/orders/view/{{order.id}}" target="_blank" class="link-no-blue">
              <button class="table-button btn btn-primary btn-sm btn-select">
                <img class="image-ico" src="/img/view.png" alt="Ver">
              </button>
            </a>
            <a href="/admin/orders/edit/{{order.id}}" target="_blank" class="link-no-blue">
              <button class="table-button btn btn-warning btn-sm btn-select">
                <img class="image-ico" src="/img/edit.png" alt="Editar">
              </button>
            </a>
            <a href="/admin/orders/delete/{{order.id}}" target="_blank" class="link-no-blue">
              <button class="table-button btn btn-danger btn-sm btn-select">
                <img class="image-ico" src="/img/delete.png" alt="Apagar">
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination" style="width: {{(pages.length + 2) * 42}}px;">
      <a href="/admin/orders?page=1{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">&laquo;</a>
        {% for page in pages %}
          <a {%if queries.page == page%}class="active"{%elif queries.page == undefined and page == 1%}class="active"{%endif%} href="/admin/orders?page={{page}}{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">{{page}}</a>
        {% endfor %}
      <a href="/admin/orders?page={{last}}{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">&raquo;</a>
    </div>
</div>

{% endblock %}

{% block script %}
  <script src="/js/orders/index.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/orders/index.css">
{% endblock %}
