{% extends '../layouts/base.html' %}

{% block title %}
    Pedidos Cadastrados
{% endblock %}

{% block content %}

<div class="div-title-registered-orders">
  <h1 class="text-center" id="title-page-registered-orders">Pedidos Cadastrados</h1>
  <span class="add-orders"><a href="/admin/orders/add">Cadastar pedidos</a></span>
</div>

<div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" scope="col">
            <a class="link-no-blue" href="/admin/orders?{%if order == 'ASC'%}order=DESC{%else%}order=ASC{%endif%}{%if count > 0%}{%for var, query in queries %}{%if var != 'order'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">id</a>
          </th>
          <!-- <th class="text-center" scope="col">id</th> -->
          <!-- <th class="text-center" scope="col">Número do pedido</th> -->
          <th class="text-center" scope="col">Nome do cliente</th>
          <th class="text-center" scope="col">Tipo do serviço</th>
          <th class="text-center" scope="col">Tipo da máquina</th>
          <th class="text-center" scope="col">Hora do pedido</th>
          <!-- <th class="text-center" scope="col">Descrição do serviço</th> -->
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <th class="text-center" scope="row">{{order.id}}</th>
          <!-- <td class="text-center">{{order.clientId}}</td> -->
          <!-- <td class="text-center"></td> -->
          <td class="text-center">{{order.client.username}}</td>
          <td class="text-center">{{order.service_type}}</td>
          <td class="text-center">{{order.machine.machine_name}}</td>
          <td id="orderDate" class="orderDate text-center">{{order.createdAt}}</td>
          <!-- <td class="text-center"></td> -->
          <td class="text-center">
            <a href="/admin/orders/view/{{order.id}}"><button class="table-button btn btn-primary btn-sm" id="">Visualizar</button></a>
            <button class="table-button btn btn-warning btn-sm" id="">Editar</button>
            <button class="table-button btn btn-danger btn-sm" id="">Excluir</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <a href="/admin/orders?page=1{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">&laquo;</a>
        {% for page in pages %}
          <a {%if queries.page == page%}class="active"{%elif queries.page == undefined and page == 1%}class="active"{%endif%} href="/admin/orders?page={{page}}{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">{{page}}</a>
        {% endfor %}
      <a href="/admin/orders?page={{last}}{%if count > 0%}{%for var, query in queries%}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}{%endif%}">&raquo;</a>
    </div>
</div>

{% endblock %}

{% block script %}
  <script src="/js/orders/index.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/orders/index.css">
{% endblock %}
