{% extends '../layouts/base.html' %}

{% block title %}
    Detalhes do pedido
{% endblock %}

{% block content %}

<div class="title-box-view">
    <span class="span-view-order">Detalhes do Pedido #{{order.id}}</span>
</div>

<div class="body-view">
    <div class="content-info-orders">
        <div class="card-info-order">
            <span class="span-content-order">ID: </span>
            <span class="dynamic-contents">{{order.id}}</span>
        </div>

        <div class="card-info-order">
            <span class="span-content-order">Nome do Cliente: </span>
            <span class="dynamic-contents">{{order.client.username}}</span>
            <span class="dynamic-contents span-content-info" id="switch" onClick="activateClientInfo();"> + Informações</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">E-mail do Cliente: </span>
            <span class="dynamic-contents">{{order.client.email}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Celular do Cliente: </span>
            <span class="dynamic-contents">{{order.client.cellphone}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Telefone do Cliente: </span>
            <span class="dynamic-contents">{{order.client.phone}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">CEP: </span>
            <span class="dynamic-contents">{{order.client.cep}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Endereço do Cliente: </span>
            <span class="dynamic-contents">{{order.client.address}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Número: </span>
            <span class="dynamic-contents">{{order.client.number_address}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Complemento: </span>
            <span class="dynamic-contents">{{order.client.complement}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Bairro: </span>
            <span class="dynamic-contents">{{order.client.district}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Cidade: </span>
            <span class="dynamic-contents">{{order.client.city}}</span>
        </div>

        <div class="card-info-order ocult">
            <span class="span-content-order">Estado: </span>
            <span class="dynamic-contents">{{order.client.state}}</span>
        </div>

        <div class="card-info-order">
            <span class="span-content-order">Tipo do Serviço: </span>
            <span class="dynamic-contents">{{order.service_type}}</span>
        </div>

        <div class="card-info-order">
            <span class="span-content-order">Tipo da Máquina: </span>
            <span class="dynamic-contents">{{order.machine.machine_name}}</span>
        </div>

        <div class="card-info-order">
            <span class="span-content-order">Estado de conservação da Máquina: </span>
            <span class="dynamic-contents">{{order.conservation_status}}</span>
        </div>

        <div class="card-info-order">
            <span class="span-content-order">Hora do Pedido: </span>
            <span class="dynamic-contents orderDate">{{order.createdAt}}</span>
        </div>
        
        <div class="card-info-order">
            <span class="span-content-order">Descrição do Serviço: </span>
            <span class="dynamic-contents">{{order.service_description}}</span>
        </div>
    </div>

    <div class="print-button">
        <input class="btn-print" type="button" value="Imprimir página" onClick="window.print()"/>
    </div>
<div>

{% endblock %}

{% block script %}
  <script src="/js/orders/view.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/orders/view.css">
{% endblock %}
