body, html {
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(226, 226, 253);
    padding-top: 0.5%;
    padding-left: 5%;
}

.global {
    display: flex;
}

.content {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 30px;
}

.menu {
    position: fixed;
    background-color: rgb(29,161,242);
    height: 100%;
    width: 15%;
    margin-top: 60px;
    flex-direction: column;
}

#menu-button:hover {
    cursor: pointer;
}

.navigation {
    display: contents;
}

a.navigation-item:hover {
    color: black!important;
    text-decoration: none!important;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    text-align: center;
}

.navigation-item-princ {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navigation-item {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.start-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.index-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.footer {
    background-color: #e1f9ff;
    height: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.text-center-uri {
    font-family: serif;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.small {
    margin-bottom: 0;
}

.link-no-blue {
    text-decoration: none;
    color: black;
}

.link-no-blue:hover {
    text-decoration: none;
    color: black;
}

.pagination {
    display: inline-block;
    width: 295px;
    margin: auto;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  .pagination a.active:hover {
    text-decoration: none;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
  }
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }