body, html {
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: rgb(226, 226, 253);
    padding-top: 0.5%;
    padding-left: 5%;
}

.global {
    display: flex;
}

.content {
    margin-top: 4%;
    width: 100%;
}

.menu {
    position: fixed;
    background-color: rgb(29,161,242);
    height: 100%;
    width: 15%;
    margin-top: 4%;
    flex-direction: column;
}

#menu-button:hover {
    cursor: pointer;
}

.navigation {
    display: contents;
}

a:hover {
    color: black!important;
    text-decoration: none!important;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    text-align: center;
}

.navigation-item-princ {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navigation-item {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.start-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.index-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.clients-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.orders-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.footer {
    background-color: #e1f9ff;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-center-uri {
    font-family: serif;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}