body, html {
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #c9e9ff;
    padding-top: 0.5%;
    padding-left: 5%;
    z-index: 4;
}

.global {
    display: flex;
}

.content {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.title-box {
    margin: auto;
    margin-bottom: 30px;
    overflow: auto;
}

.title-box a {
    color: #085b96;
    float: right;
    text-decoration: none;
    font-size: 15px;
}

.title-box a:hover {
    text-decoration: none;
}

.title-box h1 {
    color: #085b96;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.principal-content {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    font-size: 13px;
    padding: 0.5%;

}

.principal-content td {
    vertical-align: middle !important;
    border: none !important;
    border-color: none !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.principal-content table {
    border: solid 1px rgb(197, 196, 196)!important;
    width: 100% !important;
    white-space: nowrap !important;
    table-layout: fixed !important;
}

.principal-content thead {
    border: none !important;
    border-color: none !important;
    border-bottom: solid 1px rgb(197, 196, 196) !important;
}

.principal-content tr {
    border: none !important;
    border-color: none !important;
}

.principal-content th {
    border: none !important;
    border-color: none !important;
}

.principal-content .table-header {
    background-color: #085b96;
    color: white;
}

.principal-content .table-header a {
    color: white;
}

.principal-content .search-box {
    border: solid 1px rgb(197, 196, 196);
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 20px;
    overflow: auto;
    background-color: #f2f2f2;
}

.search-box .search-input-text {
    width: 49%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 1.5px rgb(173, 173, 173);
}

.left {
    margin-right: 1.5%
}

.menu {
    position: fixed;
    background-color: rgb(29,161,242);
    height: 100%;
    width: 15%;
    margin-top: 60px;
    flex-direction: column;
    z-index: 3;
}

#menu-button:hover {
    cursor: pointer;
}

.navigation {
    display: contents;
}

a.navigation-item:hover {
    color: black!important;
    text-decoration: none!important;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    text-align: center;
}

.navigation-item-princ {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navigation-item {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.start-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.index-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.footer {
    background-color: #e1f9ff;
    height: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.text-center-uri {
    font-family: serif;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.small {
    margin-bottom: 0;
}

.link-no-blue {
    text-decoration: none;
    color: black;
}

.link-no-blue:hover {
    text-decoration: none;
    color: black;
}

.pagination {
    display: inline-block;
    margin: auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a.active:hover {
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-select {
    width: 40px !important;
}

.image-ico {
    filter: invert(100%);
    width: 18px;
}

/*Set some col settings*/

.coll-0-8 {
    width: 8%;
}
.coll-1 {
    width: 10%;
}
.coll-2 {
    width: 20%;
}
.coll-3 {
    width: 30%;
}

.coll-4 {
    width: 40%;
}

.coll-5 {
    width: 50%;
}

.coll-6 {
    width: 60%;
}

.coll-7 {
    width: 70%;
}

.coll-8 {
    width: 80%;
}

.coll-9 {
    width: 90%;
}

.coll-10 {
    width: 90%;
}