{% extends '../layouts/base.html' %}

{% block title %}
  Cadastrar Máquinas
{% endblock %}

{% block content %}

<form action="/admin/machines/add" method="post">
  <div class="title-box-view">
    <span>Cadastrar Máquina</span>
  </div>

<div class="start-div">
  <div class="form-machines">
      <div class="div-machines">

        <div class="div-label">
          <label for="machine_name" class="">Nome da máquina: </label>
        </div>
        <input class="input-machines" type="text" name="machine_name" id="machine_name" class="" onclick="removeInputError()">
      
      </div>
      
      <hr>
    
      <div class="div-btn-send">
        <button class="btn-send" id="button-send" type="submit">Cadastrar</button>
      </div>
  </div>
</div>
</form>

{% endblock %}

{% block script %}
  <script src="/js/machines/add.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/machines/add.css">
  <script>
    {% if input %}
      {{input}}.addClass("error-input");
    {% endif %}
  </script>
{% endblock %}